<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>speedometr</title>
    <link rel="stylesheet/less" type="text/css" href="./style.less" />
</head>

<body>
    <div id="app">
        <div class="container" v-show="show">
            <div>
                <div>Speed:<input type="text" v-model="speed"></div>
                <div>Gear:<input type="text" v-model="gear"></div>
                <div>Rpm:<input type="text" v-model="rpm"></div>
            </div>
            <div>Fuel:<input type="text" v-model="fuel"></div>
        </div>

    </div>
    <script src="../vue.min.js"></script>
    <script src="../less.min.js"></script>
    <script src="./app.js" type="text/javascript"></script>
</body>

</html>